@model TestSystem.Models.TestShortModel
@using TestSystem.Tools
@{
    var state = @CommonTools.TestState[Model.State];
}
<div class="row test">
    <div class="col-md-5 title">@Model.Title</div>
    <div class="col-md-2 col-md-offset-1 state">
        <span class="label @state">@state</span>
    </div>
    <div class="col-md-2">
        @if (Model.State == (int)CommonTools.States.Draft)
        {
            <div class="btn btn-warning btn-block">Редактировать</div>
        }
    </div>
    <div class="col-md-2">
        @if (Model.State == (int)CommonTools.States.Actual)
        {
            <div class="btn btn-primary btn-block">Пройти</div>
        }
        else
        {
            <div class="btn btn-danger btn-block">Удалить</div>
        }
    </div>
</div>