@model TestSystem.Models.TestShortModel[]
@{
    ViewBag.Title = "Home Page";
}

@foreach (var test in Model)
{
    @Html.Partial(MVC.Home.Views._ShortTest, test)
}

<div class="row">
    <div class="col-md-3">
        <button type="button" id="add" class="btn btn-success btn-block">Создать новый<span class="glyphicon glyphicon-plus-sign pull-right"></span></button>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $('.pass').on('click', function () {
                var id = $(this).closest(".test").data("id");
                window.location.href = "/Home/Details/" + id;
            });
        });
    </script>
}